.tekst-kontakt{
    font-size: 1.5em;
    margin: 10px 1em 10px 4em;
    text-align: left;
    background-image: url(../images/bg.png);
    background-size: 20%;
    background-repeat: repeat;
}

#formularz{
    margin: 5px 1.5em 10px 10em;
    display: block;
    text-align: center;
    background: #cce6fe;
    border-style: groove;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto; 

}
h1{
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;

}
#formularz label{
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-color:#fe0002;
    padding: 16px;
    font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /*Dodaje komiksowy border*/
    font-family: 'badaboom_bbregular';
    color: white;
    border-radius: 1px;
    border: 1px solid black;
}

footer{
    background-color:#fe0002;
    padding: 16px;
    font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /*Dodaje komiksowy border*/
    font-family: 'badaboom_bbregular';
    color: white;
    border-radius: 1px;
    border: 1px solid black;

}
p {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#logo-area{
    background-image: url(../images/bg.jpg);
    background-size: 20%;
    background-repeat: repeat;
}