

#body_background {
  background-image: url(../images/bg2.jpg);
/*  background-image: url(../images/bg.png);*/
  background-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto; 
 
}

#Landing-logo {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        width: 90%;
        height: auto;
        -webkit-animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
        
}

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  