/* pozbywamy się białych miejsc z boków strony dla wszystkich elementów na stronie*/
body {
    margin: 0 auto;
    
}


/**************************************************************
            Nav Bar
**************************************************************/
.stick-nav {
    background-color: #ffff01; /*Zmieniam kolor navbara aby nawiazywał do loga, mozemy potem zmienic na czerwony - Piotr Wróblewski*/
    color: white;
    border-radius: 1px;
    border: 1px solid black;
    
}
a:hover{  /*Zmieniam kolor backgrounda po najechaniu myszka na alement linkowy - głównie do zastosowania w navbar'ze*/
    background-color:#fe0002;
    padding: 20px;

}

/* ustawiamy navbar tak, by usunąć styl listowania z ul i ustawiamy padding między elementami
 by zrobić między nimi przerwy */
.nav-elements {
    display: flex;
    list-style: none;
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /*Dodaje komiksowy border*/
    font-family: 'badaboom_bbregular';
    
}
/*Konwertuje przez fontsqurell font wykorzystany do stworzenia loga*/
@font-face {
    font-family: 'badaboom_bbregular';
    src: url('../fonts/badabb__-webfont.woff2') format('woff2'),
         url('../fonts/badabb__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    

}

li {
    padding: 20px;
}

.right-elem {
    margin-left: auto;
    padding-right: 30px;
}

/* tworzymy "responsywność" - dla ekranu szerokości mniejszej niż 600 px zmieniamy wartości nav-bara */
@media only screen and (max-width: 600px){
    .nav-elements{
        font-size: 1.1em;
        padding: 0;
    }
}


/* usuawmy dekoracje(podkreslenie), centrujemy tekst */
a {
    text-align: center;
    text-decoration: none;
    color: white;
}


/* klasa stick z pliku js - fixed position z top 0 trzyma nasz navbar u góry strony przy scrollowaniu. Width jest konieczny, żeby nasz navbar się nie zmniejszał */
.stick {
    position: fixed;
    top: 0;
    width: 100%;
}

h1{
    padding: 16px;
}

#banner-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 40%;
    height: auto;


}

footer{
    background-color:#fe0002;
    padding: 16px;
    font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /*Dodaje komiksowy border*/
    font-family: 'badaboom_bbregular';
    color: white;
    border-radius: 1px;
    border: 1px solid black;

}
p {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
    padding:20px 10px 10px 20px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;   
}
h1 {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;

}
#text_box{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 60%;
    height: auto;
    background: white;
    border-style: groove;
    
   
}
#text_bg {
    background-image: url(../images/bg.png);
    background-size: 20%;
    background-repeat: repeat;
    background-attachment: fixed;
    
    
}

header{
    background-color:#fe0002;
    padding: 16px;
    font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /*Dodaje komiksowy border*/
    font-family: 'badaboom_bbregular';
    color: white;
    border-radius: 1px;
    border: 1px solid black;
}
#logo-area{
    background-image: url(../images/bg.jpg);
    background-size: 20%;
    background-repeat: repeat;
}